<%- include('../Teacher-Layout/Message-header.ejs') %>



	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-book-bookmark'></i>
     
			<span class="text"> Teacher </span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/attendence/<%= Teacher._id %>">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Attendence</span>
				</a>
			</li>
			<li>
				<a href="/notes/<%= Teacher._id %>">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Notes</span>
				</a>
			</li>
			<li  class="active">
				<a href="/Teacher-message/<%= Teacher._id %>">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Message</span>
				</a>
			</li>
			
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
		
			<i class='bx bx-menu' ></i>


			<a href="#" class="nav-link"><%= Teacher.name %></a>
			<a href="#" class="profile">
				<img src="<%= Teacher.profile %>"  alt="Teacher">
			</a>
		
			<!-- <dark to light checkbox -->
		

			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			
			
		
	</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Message</h3>
                        <button id="contbtn">Make An Announcement</button>
					</div>
					<table id="myTable">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Details</th>
                                <th>Date</th>
                                <th>Type</th>
                                <!-- <th>Today's Attendance</th>
                                <th>Transfer to Other Teacher</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <%
                                if(messages.length>0){
                                    messages.forEach((msg)=>{
                                       %>
                                       <tr>
                                            <td><%= msg.title %></td>
                                            <td><%= msg.message %></td>
                                            <td><%= msg.date %></td>
                                            <td><%= msg.type %></td>
                                        </tr>
                                       <% 
                                    })
                                }
                            %>
                        </tbody>
                    </table>


				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
    <div class="container-modal hided" id="cont">
        <div class="form-base">
            
            <form action="/teacherpost" method="post">
                <i class="fa-solid fa-xmark" id="xmark"></i>
                <input type="hidden" id="ConversationId" name="teacherId" value="<%= Teacher._id %>">
                <input type="text" placeholder="title" name="title" id="title">
                <input type="text" placeholder="detail" name="details" id="detail">
                <input type="date" name="date" id="date">
                <select name="type" id="">
                    <option value="isMentor">AsMentor</option>
                    <option value="isTeacher">AsTeacher</option>
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <script>
        
		const contbtn = document.getElementById('contbtn')
		const xmark = document.getElementById('xmark')
		const cont = document.getElementById('cont')

		contbtn.addEventListener('click',()=>{
		  cont.classList.remove('hided')
		})
		xmark.addEventListener('click',()=>{
		  cont.classList.add('hided')
		})
    </script>


<%- include('../Teacher-Layout/Message-footer.ejs') %>