<%- include('../Student-layout/profile-header.ejs') %>

    	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-book'></i>
     
			<span class="text">  Student </span>
		</a>
		<ul class="side-menu top">
			<li >
				<a href="/studentProfile/<%= student._id %>">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
           
				
			</li>
			<li class="active">
				<a href="/studentNotes/<%= student._id %>">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Notes</span>
				</a>
			</li>
			<li >
				<a href="/studentAttendence/<%= student._id %>">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">All Attendence</span>
				</a>
			</li>
			<li>
				<a href="/Extra/<%= student._id %>">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Extra Curriculam</span>
				</a>
			</li>
			<li >
				<a href="/teacherMessage/<%= student._id %>">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Teachers Message</span>
				</a>
			</li>
			<li>
				<a href="/mentorMessage/<%= student._id %>">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Mentor Message</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<!-- <li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li> -->
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
		
			<i class='bx bx-menu' ></i>


			<a href="#" class="nav-link">  <%= student.name %>  </a>
			<a href="#" class="profile">
				<img src="<%= student.profile %>"  alt="Teacher">
			</a>
		
			<!-- <dark to light checkbox -->
		

			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			
			
		
	</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download Attendance PDF</span>
				</a>
			</div>

            
            <div style=" margin: auto; display: flex; justify-content: center; align-items: center; "  >
                <form style="margin: 5px 10px;">
                    <select name="Teacher" id="Teacher" style="padding: 10px 20px; cursor: pointer; border-radius: 8px; margin: 2px 20px;">
                        <%
                            if(teacher.length>0){
                                teacher.forEach(function(teachers){
                                    %>
                                    <option value="<%=teachers._id %>"><%= teachers.name %></option>
                                    <%
                                })
                            }
                        %>
                    </select>
                    <input type="submit" value="Find" style="padding: 10px 20px; cursor: pointer; border-radius: 8px; margin: 2px 20px; outline: 0; border: 0; color: white; background: #000;">
                </form>
            </div>
			
            <div class="notes">
                <div>
                    <p style="font-weight: 800;" >Title</p>
                    <p style="font-weight: 800;" >Download Link</p>
                </div>
                <%
                    if(notes.length>0){
                        let i = 1
                        notes.forEach(function(note){
                            %>
                            <div class="notesbox">
                                <p><%= note.title %></p>
                                <a href="<%= note.notes %>" download="<%= note.title %>" >Download <%= i++ %></a>
                            </div>
                            <%
                        })
                    }else{
                        %>
                            <p>No Notes Avaliable</p>
                        <%
                    }
                %>
            </div>

		
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

<%- include('../Student-layout/profile-footer.ejs') %>